.about-us{
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
  @media(min-width: $screen-table){
    flex-direction: row;
    padding: 0 25px;
    gap: 46px;
  }
  @media(min-width: $screen-desktop) {
    gap: 3em;
    padding: 15px 30px;
  }
  &__text{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
    @media (min-width: $screen-table) {
      padding: 0;
      flex: 1 1 50%;
    }
    @media (min-width: $screen-desktop) {
      flex: 1 1 50%;
    }
  }
  &__paragraph{
    letter-spacing: 0.2px;
    line-height: 18px;
    font-size: 14px;
    @media (min-width: $screen-table) {
      line-height: 20px;
    }
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    max-height: 88px;
    overflow: hidden;
    transition: linear 0.2s;
    @media (min-width: $screen-table) {
      max-height: 158px;
    }
    &_open{
      max-height: 380px;
      @media (min-width: $screen-table) {
        max-height: 390px;
      }
      @media (min-width: $screen-desktop) {
        max-height: 260px;
      }
    }
  }
  &__container-image{
    height: 176px;
    width: 100%;
    @media (min-width: $screen-table) {
      height: 207px;
      flex: 1 0 50%;
    }
    @media (min-width: $screen-desktop) {
      height: 291px;
      flex: 0 1 50%;
    }
  }
  &__image{
    width: 100%;
  }
  &__btn.show-more{
    display: block;
  }
}


