.popup{
  width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 16px;
  position: fixed;
  right:-600px;
  top: 0;
  z-index: 110;
  transition: 0.2s;
  background-color: #fff;
  @media (min-width: $screen-table) {
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);
  }
  @media (min-width: $screen-desktop) {
    width: 440px;
    padding: 32px;
  }
  &_open{
    right:0;
  }
  &__close{
    flex-shrink: 0;
    @media (min-width: $screen-desktop) {
      position: absolute;
      left: -73px;
    }
  }
  &__title{
    font-size: 24px;
    text-align: left;
    letter-spacing: -0.6px;
    line-height: 32px;
    font-weight: bold;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      left: -16px;
      top: -1px;
      bottom: -1px;
      width: 4px;
      background-color: $color-decorate;
      border-radius: 0 20px 20px 0;
      @media (min-width: $screen-desktop) {
        left: -32px;
      }
    }
  }
  &__form{
    display: flex;
    flex-direction: column;
    gap:16px;
  }
  &__input{
    width: 288px;
    padding: 12px 16px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    resize: none;
    @media (min-width: $screen-desktop) {
      width: 376px;
    }
  }
  &__politics{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color:#7E7E82;
  }
  &__link{
    color: $color-btn;
  }
  &__submit{
    align-self: flex-end;
    transition: 0.2s;
    &:hover{
      box-shadow: 0 0 15px $color-btn;
    }
    &::before{
      content: '';
      display: block;
      background: url("../img/icons/arrow.svg");
      color:white;
      width: 10px;
      height: 10px;
    }
  }
}


