.section{
  margin: 0  auto;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $screen-table) {
    gap: 24px;
    align-items: flex-start;
    width: auto;
  }
  @media (min-width: $screen-table) {

  }
  &__title{
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    border-top: #D9FFF5 1px solid;
    color: #7E7E82;
    background-image: linear-gradient(to right, $color-bg, white);
    padding: 16px;
    @media (min-width: $screen-table) {
      width: 100%;
      padding: 16px 24px;
    }
    @media (min-width: $screen-desktop) {
      padding: 16px 32px;
    }
  }
  &__container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px;
    transition: linear 0.3s;
    position: relative;
    @media (min-width: $screen-table) {
      max-height: 162px;
      display: block;
      padding: 0 24px;
      overflow: hidden;
    }
    @media (min-width: $screen-desktop) {
      padding: 0 32px;
    }
    &_open{
      max-height: 515px;
    }
  }
  &__desc{
    padding: 0 16px;
    color: #1B1C21;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-size: 14px;
    @media (min-width: $screen-table) {
      width: 490px;
      padding: 0 24px;
    }
    @media (min-width: $screen-desktop) {
      padding: 0 32px;
    }
  }
  &__btn{
    @media (min-width: $screen-table) {
      transform: translateX(24px);
    }
    @media (min-width: $screen-desktop) {
      transform: translateX(32px);
    }

  }
  &__btn_open::before{
    transform-origin: center;
    transform: rotate(180deg) translateY(-50%);
  }
}
