@import "reset.css";
@import "variables.scss";
@import "fonts";
@import "main";
@import "show-more";
@import "logo";
@import "side-menu";
@import "header";
@import "actions";
@import "icon";
@import "nav";
@import "sections";

@import "section";
@import "about-us";
@import "brands";
@import "device-type";
@import "services";
@import "swiper";

@import "lang";
@import "popup";
@import "submit-btn";
@import "footer";


html {
  font-family: $font-family-main;
  color: $color-main;
}


.wrapper-main{
  position: relative;
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  //height: 1500px;

}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 320px;
  margin: 0 auto;
  background: $color-bg;
  @media (min-width: $screen-table) {
    width: 768px;
  }
  @media (min-width: $screen-desktop) {
    min-width: 1120px;
  }

}

.blur{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.95;
  display: block;
  &__popup{
    z-index: 109;
    display: block;
  }
  &__side-menu{
    z-index:99;
    display: block;
  }
}


