.submit-btn{
  width: 136px;
  padding: 4px;
  background-color: $color-btn;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.15px;
  border-radius: 16px;
  line-height: 24px;
}
