.swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: -30px;
}

.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  background-color: #787878;
  filter: none;
}

.swiper-pagination-bullet-active{
  background: #B5B6BC;
}

@media (min-width: 768px){
  .swiper-slide{
    width: auto;
  }
  .swiper-pagination{
    display: none;
  }
}

