$font-family-main: "TT Lakes", sans-serif;


$color-main:          #1B1C21;
$color-btn:           #FF3E79;
$color-bg:            #f8f8f8;
$color-decorate:      #41F6D7;
$color-border-blue:   #D9FFF5;
$color-section-title: #7E7E82;


$screen-table:   768px;
$screen-desktop: 1120px;
